<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>MyServletId</servlet-name>
    <servlet-class>com.telusko.filter.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServletId</servlet-name>
    <url-pattern>/myservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>abc</servlet-name>
    <servlet-class>com.telusko.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>my-redirect</servlet-name>
    <servlet-class>com.telusko.MyRedirecterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>my-redirect</servlet-name>
    <url-pattern>/my-redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>my-session</servlet-name>
    <servlet-class>com.telusko.MySessionTesterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>my-session</servlet-name>
    <url-pattern>/my-session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>output</servlet-name>
    <servlet-class>com.telusko.SessionOutput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>output</servlet-name>
    <url-pattern>/output</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookie-tester</servlet-name>
    <servlet-class>com.telusko.MyCookieTesterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie-tester</servlet-name>
    <url-pattern>/cookie-tester</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>context</servlet-name>
    <servlet-class>com.telusko.MyServerConfigAndContextTest</servlet-class>
    <init-param>
      <param-name>configText</param-name>
      <param-value>This is a Server config parameter value</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>context</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextText</param-name>
    <param-value>This is a Server context parameter value</param-value>
  </context-param>
  <context-param>
    <param-name>Phone</param-name>
    <param-value>Samsung</param-value>
  </context-param>
</web-app>